<form [formGroup]="subjectForm" (ngSubmit)="submit()" fxLayout="column">
  <mat-form-field>
    <mat-label for="id">Kód</mat-label>
    <input matInput type="text" formControlName="id" />
  </mat-form-field>

  <mat-form-field>
    <mat-label for="name">Név</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label for="credits">Kreditek száma</mat-label>
    <input matInput type="number" formControlName="credits" />
  </mat-form-field>

  <mat-form-field>
    <mat-label for="description">Leírás</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="requirements">Követelmények</mat-label>
    <textarea matInput formControlName="requirements"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Mentés</button>
</form>